

header{
   
    height: 110px;
    background: linear-gradient(90deg, rgb(160, 43, 214, .8) 0%, rgb(77, 2, 77, .8) 35%, rgb(216, 52, 238, .8) 100%);
    margin-bottom: 60px;
    position: sticky;
    z-index: 999;
    top: -10px;
    box-shadow: 0 -6px 20px 10px rgba(0,0,0,0.5);
}



header, h1{
    font-weight: 600;
    text-align: center;
    font-size: 40px;
    color:rgb(255, 255, 255);
    padding-top: 10px;
    display: block;
}



.contact{
    border-top: solid 0.1px black;
    margin-top: 50px;
    height: 110px;
    background: transparent;
    color: white;
    position:static;
    z-index: 999;
   
}
.contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2.5rem;
    background:transparent;
}
.contact-box{
    margin-left: 40px;
}
.contact-box h4{
    margin-bottom: 1.5rem;
    font-size: 18px;
    color: var(--bg-color);
}
.contact-box li{
    margin-bottom: 18px;
}
.contact-box li a{
    display: block;
    color: #999999;
    font-size: 15px;
    font-weight: 500;
    transition: all .50s ease;
}
.contact-box li a:hover{
    transform: translateX(-7px);
    color: var(--main-color);
}
.contact-box h5{
    font-size: 16px;
    font-weight: 600;
    color: #999999;
}
.social{
    display: flex;
    margin-top: 1.8rem;
}
.social i{
    height: 37px;
    width: 37px;
    background: transparent;
    border: 2px solid var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 1.1rem;
    color: var(--main-color);
    transition: all .50s ease;
}
.social i:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transform: scale(1.1);
}
